<div class="index-outer col-md-12">
  <div class="col-md-10 col-md-offset-1">
    <h1>Creatures</h1>


    <table class="table">
      <tr>
        <th>Creature</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @creature_list.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.desc %></td>
        <td>
          <button class="btn btn-default btn-md">
            <%= link_to "Show", creature_path(c.id) %>
          </button>
        </td>
        <td>
          <button class="btn btn-default btn-md">
            <%= link_to 'Delete', creature_path(c), method: :delete %>
          </button>
        </td>
        <td>
          <button class="btn btn-default btn-md">
            <%= link_to "Edit", edit_creature_path(c) %>
          </button>
        </td>
      </tr>
      <%end%>
    </table>
  </div>
</div>